<div class="panel panel-primary district-edit">
  <div class="panel-heading">
    <h3 class="panel-title">Kapitan &nbsp;
      <span class="pull-right" ng-switch="mode">
        <span ng-switch-when="View">
          <a href="#" ng-click="onEditView()">[Edit]</a>
        </span>
        <span ng-switch-when="Edit">
          <a href="#" ng-click="onDeleteClicked()">[Delete]</a>&nbsp;
          <a href="#" ng-click="onSaveView()">[Save]</a>
        </span>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-switch="mode">
      <div ng-switch-when="View">
        <div class="col-xs-2"><strong>Name</strong></div><div class="col-xs-10">{{kapitan.name}}</div>
      </div>
      <div ng-switch-when="Edit">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputName" class="col-lg-2 control-label">Name:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" ng-model="kapitan.name"/>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
</div>
