body{
  background: #F0F0F0;
}

.container{
  padding: 0px;
}

.navbar{
  margin: 0px;
  padding: 5px;
  background: green;
  border-radius: 0px;
  color: white;
  min-height: 15px;
  h1{
    margin:0px;
    padding:0px;
    font-weight: 100;
    font-size: 12pt;
    .btn{
      margin: -10px 0px -10px -6px;
      padding: 6px 0px;
    }
  }
}
