body{
  background: #F0F0F0;
}

.container{
  padding: 0px;
}

.tab-pane{
  .panel{
    border-top: none;
  }
}

.navbar{
  margin: 0px;
  padding: 5px;
  background: green;
  border-radius: 0px;
  color: white;
  min-height: 15px;
  h1{
    margin:0px;
    padding:0px;
    font-weight: 100;
    font-size: 12pt;
    .btn{
      margin: -10px 0px -10px -6px;
      padding: 6px 0px;
    }
  }
}

.district{
  background: #f5e7f5;
  padding: 5px;
  cursor: pointer;
  &.in-design{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(128,128,128,0.42);
    -moz-box-shadow: 0px 0px 9px -3px rgba(128,128,128,0.42);
    box-shadow: 0px 0px 9px -3px rgba(128,128,128,0.42);

    &.selected{
      -webkit-box-shadow: inset 0px 0px 2px 0px rgba(128,128,128,0.42);
      -moz-box-shadow: inset 0px 0px 2px 0px rgba(128,128,128,0.42);
      box-shadow: inset 0px 0px 2px 0px rgba(128,128,128,0.42);
      .header{
        font-weight: bold;
      }
    }
  }
}
