node_modules
bower_components
cache

build/icons

.vagrant
.DS_Store

.tags*

npm-debug.log

public/index.html
public/index.js
public/settings.js
public/utils.js
public/*.less
public/routes
public/data
public/bundle.js
public/favicon.ico
public/models
