<div id="graph">
  <!-- <svg>
  </svg> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Wealth</th>
        <th>Voters</th>
        <th>Kids</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="family in population" ng-click="onClick(family)">
        <td>{{$index+1}}</td>
        <td>{{family.familyName}}, {{family.fatherName}}</td>
        <td>${{family.income}}</td>
        <td>{{family.voters}}</td>
        <td>{{family.kids}}</td>
      </tr>
    </tbody>
  </table>
</div>
