<div>
  <div class="row">
    <div class="col-xs-8">
      <h3>{{voter.fatherName}} {{voter.familyName}} Family</h3>
    </div>
    <div class="col-xs-4">
      <span>Generation: {{voter.generation+1}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      District:
    </div>
    <div class="col-xs-4">
      Sta. Fe
    </div>
    <div class="col-xs-2">
      Wealth:
    </div>
    <div class="col-xs-4">
      ${{voter.income}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      Children:
    </div>
    <div class="col-xs-10">
      <children-list voter="voter"></children-list>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      Kinship:
    </div>
    <div class="col-xs-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Father Side</th>
            <th>Mother Side</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{voter.father.fatherName}} {{voter.father.familyName}}
            </td>
            <td>
              {{voter.mother.fatherName}} {{voter.mother.familyName}}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Siblings</th>
            <th>Siblings</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="list list-unstyled">
                <li ng-repeat="child in voter.father.sons">
                  {{child.fatherName}} {{child.familyName}}
                </li>
                <li ng-repeat="child in voter.father.daughters">
                  Mrs. {{child.fatherName}} {{child.familyName}}
                </li>
              </ul>
            </td>
            <td>
              <ul class="list list-unstyled">
                <li ng-repeat="child in voter.mother.sons">
                  {{child.fatherName}} {{child.familyName}}
                </li>
                <li ng-repeat="child in voter.mother.daughters">
                  Mrs. {{child.fatherName}} {{child.familyName}}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="table table-striped">
        <thead>
          <tr>
            <th>Cousins</th>
            <th>Cousins</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{voter.father.fatherName}} {{voter.father.familyName}}
            </td>
            <td>
              {{voter.mother.fatherName}} {{voter.mother.familyName}}
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
