<div>
  <div ng-switch="page">
      <div ng-switch-when="Start">
        <div class="navbar">
          <h1>Party Animals Fun Finder</h1>
        </div>
        <div class="container">
          <div class="btn btn-success" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" ng-click="onNew()">
            New
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Load</h3>
            </div>
            <div class="panel-body">
              <span ng-hide="savedFiles.length > 0" class="text-muted">Saved funyuns will appear here</span>
              <ul class="list list-unstyled list-group" ng-show="savedFiles.length > 0">
                <li ng-repeat="file in savedFiles" class="list-group-item">
                  <a class="btn btn-default" ng-click="onLoad(file)">{{file.name}}</a>
                  <span class="pull-right text-muted">{{file.lastModified | date : 'medium'}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div ng-switch-when="Game">
        <div ng-include="'js/game/game.html'" ng-controller="GameCtrl"></div>
      </div>
  </div>

</div>
