<div>
  <div class="navbar navbar-fixed-top">
    <h1><span class="btn btn-primary" ng-click="goBack()"><i class="glyphicon glyphicon-menu-left"></i></span>&nbsp; {{game.name}}</h1>
  </div>
  <div class="container">
    <div>
      <h2 style="margin-top: 50px;">
        Designer
        <span class="pull-right">
          <a class="btn btn-primary" ng-click="onSave()">Save</a>
          <a class="btn btn-success" ng-click="onPlay()">Play</a>
          <a class="btn btn-success">Load</a>
        </span>
      </h2>
    </div>
    <div>
      <uib-tabset>
        <uib-tab heading="Districts">
          <div class="panel panel-default">
            <div class="col-xs-6" style="min-height: 400px; margin-top: 10px;">
              <district-in-design ng-repeat="district in gameData.districts" selected-district="selected.district" class="pull-left" district="district" on-select="onSelectDistrict">
              </district-in-design>
              <div class="btn btn-danger pull-left district" ng-click="onNewDistrict()">Add District</div>
            </div>
            <div class="col-xs-6" style="min-height:400px; margin-top:10px">
              <div ng-hide="selected.district">
                <span class="text-muted">Select a district</span>
              </div>
              <div ng-show="selected.district">
                <district-edit district="selected.district" districts="gameData.districts" on-delete="onDeleteDistrict" kapitans="gameData.kapitans">
                </district-edit>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Population">
          <div class="row">
            <div class="col-md-2">
              <a class="btn btn-danger" ng-click="onGenerate()">Generate {{generator.currentGeneration}}</a>
              <a class="btn btn-danger" ng-click="onClear()">Clear</a>
            </div>
            <div class="col-md-2"><span>Families ({{generator.population.length}})</></div>
            <div class="col-md-4"><span>Voting Population: <span>{{generator.voterPopulation}}</span> out of <span>{{generator.totalPopulation}}</span></span></div>

          </div>
          <div class="row">
            <div class="col-md-7">

              <population-graph population="generator.population" selected="generator.selected">
              </population-graph>

            </div>
            <div class="col-md-5" affix data-offset-top="60" ng-show="generator.selected">
              <voter-profile voter="generator.selected"></voter-profile>
            </div>
          </div>

        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>
