<div>
  <div class="navbar navbar-fixed-top">
    <h1><span class="btn btn-primary" ng-click="goBack()"><i class="glyphicon glyphicon-menu-left"></i></span>&nbsp; {{game.name}}</h1>
  </div>
  <div class="container">
    <div>
      <h2 style="margin-top: 50px;">
        Designer
        <span class="pull-right">
          <a class="btn btn-primary" ng-click="onSave()">Save</a>
          <a class="btn btn-success">Play</a>
          <a class="btn btn-success">Load</a>
        </span>
      </h2>
    </div>
    <div>
      <tabset>
        <tab heading="Districts">
          <div class="panel panel-default" style="display: flex;">
            <div class="col-xs-6" style="min-height: 400px; margin-top: 10px;">
              <district-in-design ng-repeat="district in gameData.districts" selected-district="selected.district" class="pull-left" district="district" on-select="onSelectDistrict">
              </district-in-design>
              <div class="btn pull-left district in-design" ng-click="onNewDistrict()">Add District</div>
            </div>
            <div class="col-xs-6" style="min-height:400px; margin-top:10px">
              <div ng-hide="selected.district">
                <span class="text-muted">Select a district</span>
              </div>
              <div ng-show="selected.district">
                <district-edit district="selected.district" districts="gameData.districts" kapitans="gameData.kapitans">
                </district-edit>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Kapitans">
          <div class="panel panel-default">
            <ul class="list list-unstyled">
              <li ng-repeat="kapitan in gameData.kapitans">
                {{kapitan.name}}
              </li>
            </ul>
          </div>
        </tab>
        <tab heading="Formulas">
          Edit formulas here
        </tab>
      </tabset>

    </div>
  </div>
</div>
