<div class="familyInfo col-xs-3"  ng-show="selectedFamily">
  <div class="row">
      <h3>{{selectedFamily.fatherName}} {{selectedFamily.familyName}}<a class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-minus"></i></a></h3>
  </div>
  <div class="row">
      <div class="pulse col-xs-12">{{selectedFamily.opinion[candidate.family._id]}}</div>
      <hr/>
      <div class="actions">
          <div class="controls">
              <h4>
              Actions <a class="btn btn-sm btn-primary" ng-click="addAction()">+</a>
              </h4>
          </div>
              <ul class="list list-unstyled">
                <li ng-repeat="action in selectedFamily.moves[candidate.family._id]">
                  {{action.name}} <a class="btn btn-xs btn-danger" ng-click="removeAction(action)"><i class="glyphicon glyphicon-remove"></i></a>
                </li>
              </ul>
      </div>
      <hr/>
      <div class="effects">
          <h4>Effects</h4>
          <ul class="list list-unstyled">
              <li>
                  Gets money from cops
              </li>
              <li>
                  Cousin is a councilor
              </li>
              <li>
                  Gifted 500
              </li>
          </ul>
      </div>
  </div>
</div>
